.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.65;
}

.header-content {
  margin: auto;
  z-index: 2;
  width: 40%;
}

h1 {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  min-width: 225px;
  margin-bottom: 0px;
}

/* ##### Login Form ###### */
mat-form-field {
  background-color: #fff;
  color: #000;
  margin: 5px 0px;
  padding: 7.5px 10px;
  width: 100%;
  min-width: 225px;
}

.loginFormField{
  padding-bottom: 0px;
}

.passwordVisibilityIcon{
  position: absolute;
  top:-18px;
  left: -25px;
}

#passwordField{
  height: 95px;
}

.mat-focused .placeholder {
  color: transparent;
}

#loginButton,
#registerButton,
#loginSubmit,
#registerSubmit {
  margin: 10px auto;
  width: 275px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  min-width: 225px;
}

#loginButton{
  margin-top: 20px;
}
#registerButton{
  margin-top: 0px;
}

/* ##### Media Queries ###### */
@media(max-width: 725px) {
  #passwordField{
    height: 105px;
  }
}

@media(max-width: 675px) {
  .header-content {
    width: 75%;
  }
}

@media(max-width: 400px) {
  h1 {
    font-size: 36px;
  }
}
