<!-- <input type="email" id="email">
<button>Next</button>
<form class="form-signin" *NgIf=isRegisteredEmail(email.value)>
  <h1 class="h3 mb-3 font-weight-normal">OmniFlux</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form> -->
<header class="v-header container">
  <!-- Div container the video background -->
  <div class="fullscreen-video-wrap">
    <!-- the image file location, will play when loaded and will play again when ending. -->
    <video src="../../assets/loginVideo.mp4" autoplay="true" loop="true" muted></video>
  </div>
  <!-- bootstrap container containing the login form -->
  <div class="header-overlay"></div>
  <div class="header-content">
    <h1 class="h1 font-weight-bold" routerLink="/home">Glad Tidings</h1>
    <button *ngIf="!toggleRegister" (click)="toggleLoginForm()" id="loginButton" class="btn btn-primary">{{loginPromptText}}</button>
    <form *ngIf="toggleLogin" [formGroup]="loginForm" (ngSubmit)="login()" action="login" method="post" class="animated fadeIn delay-.2s primary-button mb-10">
      <mat-form-field class="loginFormField">
        <input matInput placeholder="Enter your email" formControlName='loginEmail' type="email" autofocus>
      </mat-form-field>
      <mat-form-field class="loginFormField">
        <input matInput formControlName='loginPassword' placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="passwordVisibilityIcon">{{hidePassword ?
          'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" id="loginSubmit" [disabled]="loginForm.pristine || loginForm.invalid"
          class="btn btn-success">Signin</button>
      </div>
    </form>
    <!-- </mat-expansion-panel> -->
    <br>
    <button *ngIf="!toggleLogin" (click)="toggleRegisterForm()" id="registerButton" class="btn btn-primary" [ngClass]="{'btn-primary': registerPromptText == 'Back', 'btn-success': registerPromptText =='Register'}">{{registerPromptText}}</button>
    <form *ngIf="toggleRegister" [formGroup]="registerForm" (ngSubmit)="register()" action="login" method="post" class="animated fadeIn delay-.2s">
      <mat-form-field>
        <input matInput formControlName='firstName' placeholder="First Name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName='lastName' placeholder="Last Name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName='registerEmail' placeholder="Email" type="email">
        <mat-error *ngIf="getRegisterEmail().invalid || getRegisterEmail().touched">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field id="passwordField">
        <input matInput formControlName='registerPassword' placeholder="Password" [type]="hidePassword ? 'password' : 'text'">
        <mat-hint *ngIf="getRegisterPassword().invalid || getRegisterPassword().touched" align="end">
          Password must have 1 capital letter, 1 number, 1 special character, and at least 9 characters.
        </mat-hint>
        <!-- <mat-hint *ngIf="password.errors?.min && password.touched">Enter a password of at least 8 characters</mat-hint>
            <mat-hint *ngIf="password.errors?.max && password.touched">20 characters is the max length for a password.</mat-hint>
            <mat-hint *ngIf="password.errors?.pattern && password.touched">Passwords must have at least 1 character and number.</mat-hint> -->
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="passwordVisibilityIcon">{{hidePassword ?
          'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-raised-button type="submit" id="registerSubmit" [disabled]="registerForm.pristine || registerForm.invalid"
        class="btn btn-success">Create Account</button>
    </form>
  </div>
</header>
