<header>
  <!-- <ng2-slim-loading-bar [height]="'4px'" color="white"></ng2-slim-loading-bar> -->
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" href="#">GladTidings</a>
    <button class="navbar-toggler" type="button" (click)=toggleNavDropDown() aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="{'collapse.show': toggleDropDown, 'collapse': !toggleDropDown}">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#" (click)="setPage(0);" [ngClass]="{'active': currentPage===0}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" (click)="setPage(1)" [ngClass]="{'active': currentPage===1}" routerLink='/blog'>Blog</a>
        <a class="nav-item nav-link" (click)="setPage(2)" [ngClass]="{'active': currentPage===2}" routerLink='/resources'>Resources</a>
        <a class="nav-item nav-link" *ngIf="showSettings" (click)="setPage(3)" [ngClass]="{'active': currentPage===3}" routerLink='/settings'>Settings</a>
        <a class="nav-item nav-link" *ngIf="!toggleLogout" routerLink='/login' >Login</a>
        <a class="nav-item nav-link" routerLink='/login'>Sign Up</a>
        <a class="nav-item nav-link" *ngIf="toggleLogout" (click)="logout()" >Logout</a>
      </div>
    </div>
  </nav>
</header>
