header{
    margin-bottom: 56px;
}
.navbar-brand{
    margin-left: 10%;
}

.navbar-nav{
    margin-right: 10%;
}

.nav-item{
    cursor: pointer;
}
@media(max-width:768px){
    .navbar-brand{
        margin-left: 0px;
    }
}