/* .post{
    display:grid;
    grid-template-areas: "title" "picture" "author" "createdDate" "content" "comments" ;
    height: 200px;
    background-color: blue;
}

.title{
    grid-area: title;
    grid-template-rows: 1fr;
    background-color: red;
}

.picture{
    grid-area: picture;
    grid-template-rows: 1fr;
    background-color: violet;
}

.author{
    grid-area: author;
    grid-template-rows: 1fr;
    background-color: green;
}

.createdDate{
    grid-area: createdDate;
    grid-template-rows: 1fr;
    background-color: yellow;
}

.content{
    grid-area: content;
    grid-template-rows: 1fr;
    background-color: purple;
}

.comments{
    grid-area: comments;
    grid-template-rows: 1fr;
    background-color: orange;
} */

/* .post {
  display: grid;
  grid-template-areas: "title""subtitle""picture""author""createdDate""content""category""comments";
}

.subtitle {
  grid-area: subtitle;
  grid-template-rows: 1fr;
  background-color: greenyellow;
}

.picture {
  grid-area: picture;
  grid-template-rows: 1fr;
  background-color: violet;
}

.author {
  grid-area: author;
  grid-template-rows: 1fr;
  background-color: green;
}

.createdDate {
  grid-area: createdDate;
  grid-template-rows: 1fr;
  background-color: yellow;
}

.content {
  grid-area: content;
  grid-template-rows: 1fr;
  background-color: purple;
}

.comments {
  grid-area: category;
  grid-template-rows: 1fr;
  background-color: cyan;
}

.comments {
  grid-area: comments;
  grid-template-rows: 1fr;
  background-color: orange;
} */

/* Paginator
-------------------------------------------------- */

mat-paginator{
    position: fixed;
    width: 100%;
    padding: 0;
  }
  #spacer{
    height: 56px;
  }
  /* Posts
  -------------------------------------------------- */
  
  .layout-style-1,
  .layout-style-2 {
    display: grid;
    /* grid-template-rows: minmax(100px, min-content) minmax(50px, max-content) minmax(36px, min-content); */
    grid-template-rows: minmax(100px, min-content) minmax(min-content, 50px) minmax(min-content, max-content);
    grid-column-gap: 30px;
    margin: 0 10%;
    padding: 2.5% 0;
    font-family: inherit !important;
    height: auto;
  }
  
  .layout-style-1 {
    grid-template-areas: "title picture""text picture""links picture";
    grid-template-columns: minmax(min-content, 60%) minmax(min-content, max-content);
  }
  
  .layout-style-2 {
    grid-template-areas: "picture title""picture text""picture links";
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, 60%);
  }
  
  /* Post
  ------------------------- */
  
  .title {
    grid-area: title;
    font-weight: 300;
    margin: 0px;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  .picture-container {
    grid-area: picture;
    height: auto;
    align-self: center;
    justify-items: end;
  }
  
  .picture {
    display: block;
    max-height: 350px;
  }
  
  .row.featurette {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .text {
    grid-area: text;
    margin: 15px 0px 20px 0px;
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .post-buttons {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-gap: 15px;
    max-height: 50px;
  }
  
  .post-buttons>* {
    max-width: 160px;
    width: 100%;
  }
  
  .btn {  
    padding: .5rem 1rem;
    font-size: 1.1rem;
    line-height: 1.25;
    border-radius: .3rem;
    border-width: 2px;
    color: #000;
    border-color: #007bff;
  }
  
  .btn:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    .title {
      font-size: 50px;
    }
  }
  
  @media(max-width:1175px) {
  
    .layout-style-1,
    .layout-style-2 {
      grid-template-areas: "title""picture""text""links";
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .title {
      margin-bottom: 15px;
    }
  
    .picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .post-buttons {
      justify-items: center;
    }
  }
  
  @media(max-width: 975px) {}
  
  @media(max-width:768px) {
  
    .picture-container {
      padding: 0;
      margin-left: 5% !important;
      margin-right: 5% !important;
    }
  
    .post-buttons {
      justify-items: start;
    }
  }
  
  @media(max-width:768px) {
    mat-divider {
      border-top-width: 2px;
      margin: 10px 0;
    }
  }
  
  @media(max-width:500px) {
    .text {
      font-size: 1rem;
    }
  
    .post-buttons {
      grid-template-columns: 1fr;
      max-height: 100%;
    }
  
    .post-buttons>* {
      max-width: 100% !important;
      width: 100%;
    }
  }
  
  @media(max-width:350px) {}
  