<app-navbar></app-navbar>
<div class="content">
    <div id="cover-container">
        <main role="main" class="inner cover">
          <div class="cover-content">
              <h1 class="cover-heading">The Good News</h1>
              <p class="lead"><strong>"For I delivered to you as of first importance what I also received: that Christ died for our sins in accordance with the Scriptures, that he was buried, that he was raised on the third day in accordance with the Scriptures, ..."  - 1 Corinthians 15:3-4</strong></p>
              <p class="lead">
                <a href="https://www.biblegateway.com/passage/?search=Romans+3%3A19-28&version=ESV" target="_blank" class="btn btn-lg btn-secondary">What is the Gospel?</a>
              </p>
          </div>
          <div id="header-img"></div>
        </main>
        
      </div>
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and
            three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
          </p>
        </div>
      </div>
      
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
              nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
              nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
              semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
              risus.</p>
            <p>
              <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
        </div>
      
        <hr>
      
      </div>
      <!-- /container -->
      
      
      <!-- START THE FEATURETTES -->
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading featurette-item">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 featurette-item">
          <img class="featurette-image img-fluid mx-auto" src="../../assets/featurette1.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading featurette-item">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1 featurette-item">
          <img class="featurette-image img-fluid mx-auto" src="../../assets//featurette2.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading featurette-item">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 featurette-item">
          <img class="featurette-image img-fluid mx-auto" src="../../assets/featurette3.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">
</div>

<!-- /END THE FEATURETTES -->
<app-footer></app-footer>