/*
 * Globals
 */

 .content{
   font-family: inherit !important;
 }
/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */

a.btn.btn-outline-primary, a.btn.btn-lg.btn-outline-primary{
  color: #000;
}

a.btn.btn-outline-primary:hover,
a.btn.btn-outline-primary:focus{
  color: #fff;
}

/*
 * Base structure
 */

#cover-container {
  height: 100vh;
}

#header-img {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url("../../assets/home/homepageCover.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*
    background-image: url("../../assets/homepageCover.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    */
  z-index: -1;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  height: 100%;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background: rgba(189, 189, 189, 0.186);
}

main h1 {
  align-self: end;
  font-size: 5em;
}

main h1,
main p {
  font-weight: 900;
}

main>* {
  place-self: center;
}

/*
 * Cover
 */

.cover {
  margin: auto;
  padding: 25vh;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.cover-content {
  background-color: rgba(0, 0, 0, 0.193);
  padding: 20px;
}

/* Jumbotron
------------------------- */
.jumbotron {
  margin: 0 !important;
  padding: 19px;
}

/* Sections
------------------------- */

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../../assets/home/worship1.jpg');
  min-height: 400px;
}

.pimg2 {
  background-image: url('../../assets/home/worship2.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../../assets/home/worship3.jpeg');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 10%;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
  width: 100%;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}


.ptext{
  position:absolute;
  top:43%;
  width:100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 15px;
  opacity: 0.8;
  word-wrap: none;
}

.ptext .border.trans {
  background-color: transparent;
  color: black;
  font-weight: bold;
}

/* Trinity
------------------------- */
#trinity{
  margin-top: 40px;
  max-width: 80%;
  /* margin-left: 5% !important;
  margin-right: 5% !important; */
}

/* Featurettes
------------------------- */

/* Thin out the marketing headings */

.featurette-heading {
  grid-area: title;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-top: 20px;
}

.featurette-item {
  height: auto;
  align-self: center;
}

.row.featurette {
  margin-left: 10%;
  margin-right: 10%;
}

.layout-style-1{
  display: grid;
  grid-template-areas: "title picture" "text picture" "link picture";
}
.layout-style-2{
  display: grid;
  grid-template-areas: "picture title" "picture text" "picture link";
}
.featurette-link{
  grid-area: link;
}
p.lead{
  grid-area: text;
}
.picture{
  grid-area: picture;
  padding: 0px 20px;
  max-height: 350px;
}
img.featurette-image.img-fluid.mx-auto{
  max-height: 350px;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media(max-width:1175px){
  img.featurette-image.img-fluid.mx-auto{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .row.featurette{
    grid-template-areas: "title" "picture" "text" "link";
    text-align: center;
  }
  .picture{
    margin: 10px 0px;
    padding: 0px;
  }
}
@media(max-width: 975px) {
  .cover {
    padding: 10%;
    font-size: .5rem;
  }
  .cover-heading {
    font-size: 20px;
  }
  .display-3{
    font-size: 2.25rem;
  }
}

@media(max-width:768px){
  div.col-md-4, div.col-md-7, div.col-md-5.featurette-item{
    padding: 0;

  }
  div.row.featurette, div.col-md-7, div.col-md-5.featurette-item{
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
  div.col-md-5.featurette-item{
    margin-bottom: 15px;
  }
  div.jumbotron{
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .trinity-person{
    text-align: center;
  }
}

@media(max-width:568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
  .ptext {
    left: 0%;
    right:0%;
    width: 100%;
    font-size: 4vw;
  }
  .ptext .border{
    word-wrap: normal;
  }
}

@media(max-width:500px) {
  .lead {
    font-size: 1rem;
  }
  h1{
    font-size: 12vw;
  }
}

@media(max-width:350px) {
  .cover {
    padding: 5%;
    font-size: .5rem;
  }
}


