<app-navbar></app-navbar>
<div class="content">
  <div id="cover-container">
    <main role="main" class="inner cover">
      <div class="cover-content">
        <h1 class="cover-heading">Have you heard the Good News?</h1>
        <p class="lead">
          <a href="https://www.biblegateway.com/passage/?search=Romans+3%3A19-28&version=ESV" target="_blank" class="btn btn-lg btn-secondary">What is the Gospel?</a>
        </p>
      </div>
      <div id="header-img" class="center"></div>
    </main>
  </div>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron col-xs-10 col-md-10 col-lg-10 col-xl-10 mw-100">
    <div class="container">
      <h1 class="display-3">
        <strong>The Good News of Jesus Christ!</strong>
      </h1>
      <p class="lead">
        <strong>"For I delivered to you as of first importance what I also received: that Christ died for our sins in accordance
          with the Scriptures, that he was buried, that he was raised on the third day in accordance with the Scriptures,
          ..." - 1 Corinthians 15:3-4</strong>
        <p>
          <a class="btn btn-primary btn-lg" href="https://www.biblegateway.com/passage/?search=Matthew+1&version=ESV" role="button">Learn more &raquo;</a>
        </p>
    </div>
  </div>

  <!-- Sections -->
  <div class="pimg1">
    <div class="ptext d-flex justify-content-center">
      <div class="border">Growing Together</div>
    </div>
  </div>

  <section class="section section-dark col-xs-10 col-md-10 col-lg-10 col-xl-10 mw-100">
    <h2>Romans 12:1-2</h2>
    <p>Therefore, I urge you, brothers and sisters, in view of God’s mercy, to offer your bodies as a living sacrifice, holy
      and pleasing to God—this is your true and proper worship. Do not conform to the pattern of this world, but be transformed
      by the renewing of your mind. Then you will be able to test and approve what God’s will is—his good, pleasing and perfect
      will.
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext d-flex justify-content-center">
      <div class="border">
        The Family of God
      </div>
    </div>
  </div>

  <section class="section section-light col-xs-10 col-md-10 col-lg-10 col-xl-10 mw-100">
    <h2>2 Timothy 3:15-17</h2>
    <p>But as for you, continue in what you have learned and have become convinced of, because you know those from whom you
      learned it, and how from infancy you have known the Holy Scriptures, which are able to make you wise for salvation
      through faith in Christ Jesus. All Scripture is God-breathed and is useful for teaching, rebuking, correcting and training
      in righteousness, so that the servant of God may be thoroughly equipped for every good work.</p>
  </section>

  <div class="pimg3">
    <div class="ptext d-flex justify-content-center">
      <div class="border">
        The Great Commission
      </div>
    </div>
  </div>

  <section class="section section-dark col-xs-10 col-md-10 col-lg-10 col-xl-10 mw-100">
    <h2>Matthew 28:18-20</h2>
    <p>Then Jesus came to them and said, “All authority in heaven and on earth has been given to me. Therefore go and make disciples
      of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, and teaching them to
      obey everything I have commanded you. And surely I am with you always, to the very end of the age.”</p>
  </section>


  <div class="container d-flex justify-content-center" id="trinity">
    <!-- Example row of columns -->
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 pl-0">
        <h2>Father</h2>
        <p>For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but have eternal
          life. For God did not send his Son into the world to condemn the world, but in order that the world might be saved
          through him. Whoever believes in him is not condemned, but whoever does not believe is condemned already, because
          he has not believed in the name of the only Son of God.
          <br>- John 3:16-18</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Son</h2>
        <p>My little children, I am writing these things to you so that you may not sin. But if anyone does sin, we have an
          advocate with the Father, Jesus Christ the righteous. He is the propitiation for our sins, and not for ours only
          but also for the sins of the whole world.
          <br>- 1 John 2:1-2
        </p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
      <div class="col-md-4 pr-0">
        <h2>Holy Spirit</h2>
        <p>In him you also, when you heard the word of truth, the gospel of your salvation, and believed in him, were sealed
          with the promised Holy Spirit, who is the guarantee of our inheritance until we acquire possession of it, to the
          praise of his glory.
          <br>- Ephesians 1:13-14</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
        </p>
      </div>
    </div>
    <hr>
  </div>
  <hr class="featurette-divider">
  <!-- /container -->


  <!-- START THE FEATURETTES -->

  <div class="row featurette">
    <div class="col-md-7 pl-0">
      <h2 class="featurette-heading featurette-item">Love, not just in word.
        <span class="text-muted">But in deed.</span>
      </h2>
      <p class="lead">"What good is it, my brothers, if someone says he has faith but does not have works? Can that faith save him? If a
        brother or sister is poorly clothed and lacking in daily food, and one of you says to them, “Go in peace, be warmed
        and filled,” without giving them the things needed for the body, what good is that? So also faith by itself, if it
        does not have works, is dead."</p>
    </div>
    <div class="col-md-5 featurette-item pr-0">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/home/featurette1.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2 pr-0">
      <h2 class="featurette-heading featurette-item">Receiving even the littlest ones.
        <span class="text-muted">For theirs is the kingdom.</span>
      </h2>
      <p class="lead">"At that time the disciples came to Jesus, saying, “Who is the greatest in the kingdom of heaven?” And calling to him
        a child, he put him in the midst of them and said, “Truly, I say to you, unless you turn and become like children,
        you will never enter the kingdom of heaven. Whoever humbles himself like this child is the greatest in the kingdom
        of heaven."</p>
    </div>
    <div class="col-md-5 order-md-1 featurette-item pl-0">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/home/featurette2.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 pl-0">
      <h2 class="featurette-heading featurette-item">Children of God
        <span class="text-muted">are ALWAYS received.</span>
      </h2>
      <p class="lead">“Whoever receives one such child in my name receives me, but whoever causes one of these little ones who believe in
        me to sin, it would be better for him to have a great millstone fastened around his neck and to be drowned in the
        depth of the sea."</p>
    </div>
    <div class="col-md-5 featurette-item pr-0">
      <img class="featurette-image img-fluid mx-auto" src="../../assets/home/featurette3.jpg" alt="Generic placeholder image">
    </div>
  </div>
  <br>
  <!-- <hr class="featurette-divider"> -->
</div>

<!-- /END THE FEATURETTES -->
<app-footer></app-footer>
