<app-navbar></app-navbar>
<div class="content">
    <div id="cover-container">
        <main role="main" class="inner cover">
          <div class="cover-content">
              <h1 class="cover-heading">The Good News</h1>
              <p class="lead"><strong>"For I delivered to you as of first importance what I also received: that Christ died for our sins in accordance with the Scriptures, that he was buried, that he was raised on the third day in accordance with the Scriptures, ..."  - 1 Corinthians 15:3-4</strong></p>
              <p class="lead">
                <a href="https://www.biblegateway.com/passage/?search=Romans+3%3A19-28&version=ESV" target="_blank" class="btn btn-lg btn-secondary">What is the Gospel?</a>
              </p>
          </div>
          <div id="header-img" class="center"></div>
        </main>
      </div>
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">The Great Commission!</h1>
          <p>And when they saw him they worshiped him, but some doubted. And Jesus came and said to them, “All authority in heaven and on earth has been given to me. Go therefore and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, teaching them to observe all that I have commanded you. And behold, I am with you always, to the end of the age.” - Matthew 28:16-20</p>
          <p>
            <a class="btn btn-primary btn-lg" href="https://www.biblegateway.com/passage/?search=Matthew+28%3A18-20&version=ESV" role="button">Learn more &raquo;</a>
          </p>
        </div>
      </div>
      
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Father</h2>
            <p>For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but have eternal life. For God did not send his Son into the world to condemn the world, but in order that the world might be saved through him. Whoever believes in him is not condemned, but whoever does not believe is condemned already, because he has not believed in the name of the only Son of God.<br>- John 3:16-18</p>
            <p>
              <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Son</h2>
            <p>My little children, I am writing these things to you so that you may not sin. But if anyone does sin, we have an advocate with the Father, Jesus Christ the righteous. He is the propitiation for our sins, and not for ours only but also for the sins of the whole world.<br>- 1 John 2:1-2
              </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Holy Spirit</h2>
            <p>In him you also, when you heard the word of truth, the gospel of your salvation, and believed in him, were sealed with the promised Holy Spirit, who is the guarantee of our inheritance until we acquire possession of it, to the praise of his glory.<br>- Ephesians 1:13-14</p>
            <p>
              <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
        </div>
      
        <hr>
      
      </div>
      <!-- /container -->
      
      
      <!-- START THE FEATURETTES -->
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading featurette-item">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 featurette-item">
          <img class="featurette-image img-fluid mx-auto" src="../../assets/featurette1.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading featurette-item">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1 featurette-item">
          <img class="featurette-image img-fluid mx-auto" src="../../assets//featurette2.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading featurette-item">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 featurette-item">
          <img class="featurette-image img-fluid mx-auto" src="../../assets/featurette3.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">
</div>

<!-- /END THE FEATURETTES -->
<app-footer></app-footer>