<app-navbar></app-navbar>
<div class="spacer"></div>
<div class="settings-container">
  <header>
    <h1 class="heading">SETTINGS</h1>
  </header>

  <!-- Container of all settings -->
  <mat-accordion multi="true">
    <!-- CATERGORIES -->
    <mat-expansion-panel id="categories-panel">
      <mat-expansion-panel-header>
        Categories
      </mat-expansion-panel-header>
      <mat-list id="categories">
        <div *ngFor="let category of activeCategories" class="category-item">
          <mat-list-item class="item">
            {{category.name}}
          </mat-list-item>
          <button mat-icon-button color="warn" class="delete-icon">
            <mat-icon aria-label="x icon-button" (click)="deleteCategory(category)">clear</mat-icon>
          </button>
        </div>
      </mat-list>
      <!-- Options -->
      <mat-accordion multi="true">
        <!-- List -->
        <!-- Create -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Create Category
          </mat-expansion-panel-header>
          <div>
            <form [formGroup]="categoryForm">
              <mat-card class="formContent">
                <mat-form-field>
                  <input matInput formControlName='name' type="text" placeholder="Name">
                </mat-form-field>
                <mat-card class="formContent">
                  <button [disabled]="categoryForm.invalid" type="submit" (click)="createCategory()" mat-raised-button
                    class="success">Create
                    Category</button>
                </mat-card>
              </mat-card>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
    <!-- POSTS -->
    <mat-expansion-panel id="posts-panel">
      <mat-expansion-panel-header>
        Posts
      </mat-expansion-panel-header>
      <app-post-list></app-post-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Create Post
        </mat-expansion-panel-header>
        <app-post></app-post>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <!-- USERS -->
    <mat-expansion-panel id="users-panel">
      <mat-expansion-panel-header>
        Users
      </mat-expansion-panel-header>
      <app-user-list></app-user-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- Previous code for the users panel -->
<!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        All Users
      </mat-expansion-panel-header>
      //<mat-divider></mat-divider>//
      <mat-list *ngFor="let user of users">
        <mat-divider></mat-divider>
        <br>
        <mat-list-item>Name: {{user.firstName}} {{user.lastName}} </mat-list-item>
        <mat-list-item>Email: {{user.email}}</mat-list-item>
        <mat-list-item>Priveleges: {{user.tier}}</mat-list-item>
        <mat-list-item>Active: {{user.active}}</mat-list-item>
        <mat-list-item>Date Created: {{user.created | date }}</mat-list-item>
        <button mat-icon-button color="primary">
          <mat-icon aria-label="x icon-button" (click)="editUser(user)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="x icon-button" (click)="toggleUserActivation(user)" [ngClass]="{'deactivate': user.active, 'activate': !user.active}">{{user.active
            ? 'highlight_off' : 'check_circle' }}</mat-icon>
        </button>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Create User
      </mat-expansion-panel-header>
      <div>
        <form [formGroup]="createUserForm" method="post" id="createUserForm">
          <mat-form-field>
            <input matInput formControlName='firstName' placeholder="First Name" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName='lastName' placeholder="Last Name" type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName='userFormEmail' placeholder="Email" type="email">
          </mat-form-field>
          <mat-form-field class="increaseBottomMargin">
            <input matInput formControlName='userFormPassword' placeholder="Password" [type]="hidePassword ? 'password' : 'text'">
            //
                    Would like there to be a feature where the hints x mark icon changes to a check mark icon when the condition is met.
                  <mat-hint>
                      <div>
                          <div>
                            <mat-icon aria-label="x icon-button">{{getUserFormPassword() != undefined && getUserFormPassword().valid ? 'check' : 'clear'}}</mat-icon> Contains 1 capital letter
                          </div>
                          <div>
                              <mat-icon aria-label="x icon-button">{{getUserFormPassword() != undefined && getUserFormPassword().valid ? 'check' : 'clear'}}</mat-icon> Contains 1 number
                          </div>
                          <div>
                              <mat-icon aria-label="x icon-button">{{getUserFormPassword() != undefined && getUserFormPassword().valid ? 'check' : 'clear'}}</mat-icon> Contains 1 special character
                          </div>
                          <div>
                              <mat-icon aria-label="x icon-button">{{getUserFormPassword() != undefined && getUserFormPassword() > 8 ? 'check' : 'clear'}}</mat-icon> Is at least 9 characters in length
                          </div>
                          <div>
                              <mat-icon aria-label="x icon-button">{{getUserFormPassword() != undefined && getUserFormPassword().valid ? 'check' : 'clear'}}</mat-icon> Is no greater than 20 characters in length
                          </div>
                        </div>
                  </mat-hint>//
            <mat-hint>Enter a password of at least 9 characters, but no greater than 20 characters. Passwords must
              at
              least one uppercase letter, one lowercase letter, one number and one special character.</mat-hint>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="passwordVisibilityIcon">{{hidePassword
              ?
              'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <mat-divider class="row-divider"></mat-divider>
          <button mat-raised-button type="reset" (click)="createUser()" [disabled]="createUserForm.pristine || createUserForm.invalid"
            class="btn btn-success">Create Account</button>
        </form>
      </div>
      <app-user-list></app-user-list>
      //<mat-divider class="row-divider"></mat-divider>
      <app-users></app-users>//
    </mat-expansion-panel>
  </mat-accordion> -->
